html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.hover {
-webkit-user-select: none;
-webkit-touch-callout: none;
}

/*------------------------------------------Fonts---*/

/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
}

/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

body {
  font-family: "SF Display", -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  color: #515357;
  rgba(255,255,255,1);
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

h2 {
  /*font-family: 'PT Serif', serif;*/
  font-weight: 300;
  line-height: 120%;
  font-size: 1.0em;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1em;
}

h4 {
  font-size: 0.9em;
  color: #8B8B8B;
}

p {
  color: #8B8B8B;
  padding-top: 30px;
  font-family: 'PT Serif', serif;
  font-size: 1.3em !important;
  line-height: 160%;
}

a {
  text-decoration: none;
  color: #3B3B3B;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

a:hover {
  text-decoration:none;
  color: #FE8B00;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover_effect {
  text-decoration:none;
  color: #FE8B00;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/*------------------------------------------Navbar---*/

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FE8B00;
}

.navbar-default .navbar-nav > li > a:hover_effect {
  color: #FE8B00;
}

.navbar {
  background-color: rgba(0,0,0,0.8);
  border-radius: 0px;
  border-width: 0px;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.navbar .container{
  padding-right: 0px;
  padding-left: 0px;
}

button {
  position: relative;
  top: 3px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.05em;
}

header li {
  float: right;
  display: inline;
}

#gone {
  opacity: 0;
}

/*------------------------------------------Jumbotron---*/
.jumbotron {
  padding: 100px;
  background: none;
}

.descriptor {
  padding-left: 0%;
  padding-right: 32%;
  padding-top: 10%;
  padding-bottom: 15%;
}

img {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*------------------------------------------Footer---*/
footer {
  background-color: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media(max-width: 991px){


  .navbar .container {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media(max-width: 767px){

  .navbar .container {
    padding-right: 15px !important;
    padding-left: 35px !important;
  }

}

@media(max-width: 720px){

  h1 {
    font-weight: 700;
    font-size: 3.2em;
  }

  h2 {
    font-weight: 200;
    line-height: 120%;
    font-size: 1.7em;
  }

  .navbar .container{
    padding-right: 15px;
    padding-left: 33px;
  }

  .project .container{
    margin: 1%;
  }

  .jumbotron {
    padding: 15% 0px 10% 0px;
  }

  .descriptor {
    padding-top: 10%;
    padding-bottom: 20%;
    padding-right: 12%;
  }

}

@media(max-width: 662px){

  .descriptor {
    padding-top: 10%;
    padding-bottom: 20%;
    padding-right: 10%;
  }

}
